body {
  background: linear-gradient(180deg, #311b50 0%, #1f1033 100%);
  box-sizing: border-box;
  font-family: "Arial MT", sans-serif;
  min-height: 100vh;
}

@font-face {
  font-family: "Arial MT";
  src: url("../fonts/arialmt.ttf");
}

div#content {
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

input[type="submit"] {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-restore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.form-restore-logo {
  display: none;
}

.form-restore-header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  box-sizing: border-box;
  background: #311b50;
}

.form-restore-title {
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
}

.form-restore-content {
  width: 100%;
  box-sizing: border-box;
  padding: 17px 16px;
}

.form-restore-description {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 24px;
}

.form-restore-input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  padding: 8px 16px 8px 48px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  caret-color: #b47eff;
}

.form-restore-input:focus {
  border: 1px solid #b47eff;
}

.form-restore-input.withError {
  border: 1px solid #ff6978;
}

.form-restore-input-withError {
  border: 1px solid #ff6978;
}

.form-restore-input::placeholder {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.form-restore-input:focus-visible {
  outline: none;
}

.input-field {
  position: relative;
}

.input-field::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 16px;
  top: 45%;
  transform: translateY(-50%);
  background-image: url(../img/pass-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-restore-button {
  width: 100%;
  height: 48px;
  margin-top: 8px;
  border-radius: 12px;
  background: url("../img/noise.svg") 0% 0% / 100px 100px repeat,
    linear-gradient(180deg, #9041ff 0%, #4e178c 100%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
  background-blend-mode: overlay, overlay, normal;
  border: none;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  font-size: 13px;
  color: #ffffff;
  transition: transform 0.3s ease-in;
}

.form-restore-button:active {
  transform: scale(0.94);
}

.form-restore-button.disabled {
  opacity: 0.4;
}

.form-restore-button:active {
  opacity: 0.9;
}

dd {
  margin-left: 0;
  display: flex;
}

.form-restore-password-incorrect {
  color: #ff6978;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  padding: 0;
  margin-bottom: 16px;
}

.form-restore-error {
  color: #ff6978;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  padding: 0;
}

.form-restore-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 6px;
}

.form-restore-success-title {
  text-align: center;
  color: #00c950;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.form-restore-success-description {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.form-restore-success-icon {
  width: 66px;
  height: 66px;
}

#submit-element {
  width: 100%;
}
